!@! Configured by owl4ce

!#! URxvt Configuration
!-! Appearance
URxvt.font:                       xft:M+ 1m for Powerline:size=9
URxvt.geometry:                   86x19
URxvt.internalBorder:             20
URxvt.cursorBlink:                true
URxvt.cursorUnderline:            true
URxvt.saveline:                   4096
URxvt.scrollBar:                  false
URxvt.scrollBar_right:            true
URxvt.urgentOnBell:               false
URxvt.depth:                      24
URxvt.iso14755:                   false

!-! Extension
URxvt.perl-ext-common:            default,clipboard,keyboard-select,url-select,tabbedex

!-! Tabbedex
URxvt.tabbedex.new-button:        false
URXvt.tabbedex.reopen-on-close:   yes
URxvt.tabbedex.autohide:          true
URxvt.tabbedex.tabbar-fg:         1
URxvt.tabbedex.tabbar-bg:         0
URxvt.tabbedex.tab-fg:            7
URxvt.tabbedex.tab-bg:            1
URxvt.keysym.Control-Shift-T:     perl:tabbedex:new_tab
URxvt.keysym.Control-Shift-R:     perl:tabbedex:rename_tab
URxvt.keysym.Control-Shift-W:     perl:tabbedex:kill_tab
URxvt.keysym.Control-Next:        perl:tabbedex:next_tab
URxvt.keysym.Control-Prior:       perl:tabbedex:prev_tab

!-! Clipboard
URxvt.clipboard.copycmd:          xclip -i -selection clipboard
URxvt.clipboard.pastecmd:         xclip -o -selection clipboard
URxvt.keysym.M-c:                 perl:clipboard:copy
URxvt.keysym.M-v:                 perl:clipboard:paste
URxvt.keysym.M-Escape:            perl:keyboard-select:activate
URxvt.keysym.M-s:                 perl:keyboard-select:search
URxvt.urlLauncher:                google-chrome-stable
URxvt.underlineURLs:              true
URxvt.urlButton:                  1

!-! Color Scheme
!*! GLOBAL
*.foreground:                     #ffffff
*.background:                     #141821
!*.background:                     rgba:0000/0000/0200/c800

!*! BLACK
*.color0: #141821
*.color8: #1c2127

!*! RED
*.color1: #ec0050
*.color9: #e91e63

!*! GREEN
*.color2: #05c46b
*.color10: #1bCe7b

!*! YELLOW
*.color3: #ebdc09
*.color11: #f6f93f

!*! BLUE
*.color4: #3498db
*.color12: #50a9e4

!*! MAGENTA
*.color5: #8e44ad
*.color13: #9b59b6

!*! CYAN
*.color6: #00c7eb
*.color14: #18dcff

!*! WHITE
*.color7: #ffffff
*.color15: #d9d9d9

!#! ROFI Configuration
rofi.modi:                        drun,run,window,calc

!-! Menu Display
rofi.display-calc:                Calculator
rofi.display-drun:                Applications
rofi.display-run:                 Run
rofi.display-window:              Running Apps

!-! Color                         'bg'   'fg'    'bgalt'  'hlbg' 'hlfg'
rofi.color-window:                #141821,#141821,#141821
rofi.color-normal:                #141821,#ffffff,#141821,#ec0050,#ffffff
rofi.color-active:                #141821,#3498db,#141821,#141821,#ec0050
rofi.color-urgent:                #141821,#8e44ad,#141821,#141821,#ec0050

!-! Appearance
rofi.sidebar-mode:                true
rofi.terminal:                    urxvt
rofi.font:                        M+ 1m 9
rofi.bw:                          2
rofi.lines:                       16
rofi.columns:                     2
rofi.location:                    0
rofi.padding:                     20
rofi.levenshtein-sort:            true
rofi.case-sensitive:              false
rofi.fuzzy:                       false
rofi.line-margin:                 2
rofi.separator-style:             solid
rofi.hide-scrollbar:              true
rofi.markup-rows:                 false
rofi.disable-history:             true
